@page "/about-us"

<section class="section image-infinite-bg position-relative"
         style="background-size: cover; background-position: center ;padding: 15em 1em 15em 1em;"
         data-images='["Template/image/dummy-img-1920x900.jpg" , "Template/image/dummy-img-1920x900.jpg"]'>
    <div class="r-container h-100">
        <div class="image-overlay"></div>
        <div class="d-flex flex-column justify-content-center gap-3 h-100 position-relative"
             style="max-width: 768px; z-index: 2;">
            <h1 class="text-title text-white fw-bold font-1 lh-1">Enriching <br> Happiness</h1>
            <p class="text-white f-18 text-font">
                Quality care, Quality life
            </p>
            <div>
                <a type="button" href="#"
                   class="btn bg-accent-color text-font rounded-0">LEARN MORE</a>
            </div>
        </div>
    </div>
</section>

<section class="position-relative" style="margin-top: -80px;">
    <div class="r-container px-lg-0 px-4">
        <div class="overflow-hidden rounded-4">
            <div class="row row-cols-1 row-cols-lg-3">
               @*  <div class="col bg-accent-color-1 text-white">
                    <div class="d-flex flex-row gap-2 align-items-center  p-4">
                        <div class="rounded-circle bg-accent-color icon-box">
                            <i class="fa-solid fa-user-doctor"></i>
                        </div>
                        <div class="d-flex flex-column">
                            <span class="fw-bold font-1 fs-4">Our Services</span>
                            <span class="fw-bold font-1 fs-3 lh-1">
                                Professional & Expert Nurses
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col bg-accent-color text-white ">
                    <div class="d-flex flex-row gap-2 align-items-center  p-4">
                        <div class="rounded-circle bg-accent-color-2 icon-box">
                            <i class="fa-solid fa-stethoscope"></i>
                        </div>
                        <div class="d-flex flex-column">
                            <span class="fw-bold font-1 fs-4">Clinical Advice</span>
                            <span class="fw-bold font-1 fs-3 lh-1">
                                Trusted Quality Care Solutions
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col bg-accent-color-2 text-white">
                    <div class="d-flex flex-row gap-2 align-items-center  p-4">
                        <div class="rounded-circle bg-accent-color-1 icon-box">
                            <i class="fa-solid fa-earth-asia"></i>
                        </div>
                        <div class="d-flex flex-column">
                            <span class="fw-bold font-1 fs-4">Our Expertises</span>
                            <span class="fw-bold font-1 fs-3 lh-1">
                                World Class Senior Services
                            </span>
                        </div>
                    </div>
                </div> *@
            </div>
        </div>
    </div>
</section>

<!-- Welcome To Seniorsy -->
<section class="section">
    <div class="r-container">
        <div class="row row-cols-1 row-cols-lg-2">
            <div class="col mb-3 pe-lg-3 position-relative">
                <div class="overlay right"></div>
                <div class="position-relative pe-5">
@*                     <img src="Template/image/dummy-img-600x700.jpg" alt="" class="img-fluid" style="z-index: -2;">
 *@                    <img src="Template/image/H6.jpg" alt="" class="img-fluid" style="z-index: -2;">
                    <div class="position-absolute bottom-0 start-0 ms-4 mb-4">
                        <!-- Button trigger modal -->
                        <div class="d-flex flex-row gap-3 align-items-center">
                            <button type="button" class="btn request-loader" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal">
                                <i class="fa-solid fa-play"></i>
                            </button>
                          @*   <span class="text-white fw-semibold font-1 fs-5">WATCH VIDEO</span> *@
                        </div>

                        <!-- Modal -->
                      
                        
                        @* <div class="modal fade bg-overlay" id="exampleModal" tabindex="-1"
                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-lg">
                                <div class="modal-content bg-dark-color">
                                    <iframe class="ifr-video"
                                            src="https://www.youtube.com/embed/FK2RaJ1EfA8?autoplay=1"
                                            frameborder="0"></iframe>
                                </div>
                            </div>
                        </div> *@
                    
                    
                    </div>
                </div>
            </div>
            <div class="col mb-3">
                <div class="d-flex flex-column gap-3 p-3">
                    <h6 class="accent-color font-2 ">Who We Are & What We Do</h6>
                   @*  <h3 class="text-black font-1 lh-1 fw-semibold">
                        See & Experience A New Perspective Of Life
                    </h3> *@
                    <p class="text-gray">
                        Human Succour Healthcare Ltd is a reputable provider of regulated personal care services that support individuals in their homes and communal living environments. We provide domiciliary care to a diverse range of individuals, including those with physical disabilities, mental health conditions, the elderly and the frail.
                        Our core objective is to ensure that everyone we serve is treated with respect and dignity and that their fundamental rights are upheld. We are committed to enabling individuals requiring supported living and home care services to make informed decisions. Our services are available to those with epilepsy,  learning disabilities, challenging behaviour, autism, and mental health conditions.

                    </p>
                  @*   <div class="row row-cols-2">
                        <div class="col mb-2">
                            <div class="d-flex flex-row gap-2 align-items-center">
                                <i class="fa-solid fa-circle-arrow-right accent-color"></i>
                                <span class="text-gray">Nulla mollis tristique blandit</span>
                            </div>
                        </div>
                        <div class="col mb-2">
                            <div class="d-flex flex-row gap-2 align-items-center">
                                <i class="fa-solid fa-circle-arrow-right accent-color"></i>
                                <span class="text-gray">Mauris eu ante euismod</span>
                            </div>
                        </div>
                        <div class="col mb-2">
                            <div class="d-flex flex-row gap-2 align-items-center">
                                <i class="fa-solid fa-circle-arrow-right accent-color"></i>
                                <span class="text-gray">
                                    Proin euismod mollis ex vel
                                </span>
                            </div>
                        </div>
                        <div class="col mb-2">
                            <div class="d-flex flex-row gap-2 align-items-center">
                                <i class="fa-solid fa-circle-arrow-right accent-color"></i>
                                <span class="text-gray">Nulla mollis tristique blandit</span>
                            </div>
                        </div>
                        <div class="col mb-2">
                            <div class="d-flex flex-row gap-2 align-items-center">
                                <i class="fa-solid fa-circle-arrow-right accent-color"></i>
                                <span class="text-gray">Mauris eu ante euismod</span>
                            </div>
                        </div>
                        <div class="col mb-2">
                            <div class="d-flex flex-row gap-2 align-items-center">
                                <i class="fa-solid fa-circle-arrow-right accent-color"></i>
                                <span class="text-gray">
                                    Proin euismod mollis ex vel
                                </span>
                            </div>
                        </div>
                    </div> *@
                    <div class="my-4 border-bottom w-100"></div>
                    <div class="row row-cols-1 row-cols-lg-2">
                        <div class="col mb-3">
                            <div class="d-flex flex-lg-row flex-column justify-content-lg-start align-items-center gap-2 justify-content-center">
                                <div class="bg-accent-color text-white rounded-3 icon-box"
                                     style="font-size: 20px; width: 3rem; height: 3rem;">
                                    <i class="fa-solid fa-user-doctor"></i>
                                </div>
                                <span class="font-1 fs-3 lh-1 fw-semibold">Expert Nursing Staff</span>
                            </div>
                        </div>
                        <div class="col mb-3">
                            <div class="d-flex flex-lg-row flex-column justify-content-lg-start align-items-center gap-2 justify-content-center">
                                <div class="bg-accent-color text-white rounded-3 icon-box"
                                     style="font-size: 20px; width: 3rem; height: 3rem;">
                                    <i class="fa-solid fa-house-medical-circle-check"></i>
                                </div>
                                <span class="font-1 fs-3 lh-1 fw-semibold">Safe Solution For Health</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Types Of Care -->
<section class="section bg-light">
    <div class="r-container">
        <div class="d-flex flex-column gap-3 justify-content-center text-center">
            <h6 class="accent-color font-2 ">Types Of Care</h6>
            <h3 class="text-black font-1 lh-1 fw-semibold">Providing Quality Senior Care</h3>
          @*   <p class="text-gray mx-auto" style="max-width: 768px;">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vel dolor felis. In ligula
                purus, imperdiet ac est nec, tempus varius nisl. Integer et venenatis odio. Fusce enim lectus,
                gravida ut justo sed.
            </p> *@
            <div class="row row-cols-1 row-cols-lg-3">
                <div class="col">
                    <div class="card p-3 with-border-bottom border-0 shadow rounded-3">
                        <img src="Template/image/H2.png" class="card-img-top rounded-3" alt="...">
                        <div class="card-body ">
                            <h5 class="font-1 fw-bold">Assisted Living</h5>
                            <p class="text-gray">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut
                                elit tellus, luctus nec.
                            </p>
                            <div class="d-flex justify-content-center">
                                <a type="button" href="#"
                                   class="btn post-button font-2 d-flex flex-row align-items-center gap-2">
                                    Read
                                    More <i class="fa-solid fa-circle-arrow-right mt-1"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card p-3 with-border-bottom border-0 shadow rounded-3">
                        <img src="Template/image/H2.png" class="card-img-top rounded-3" alt="...">
                        <div class="card-body ">
                            <h5 class="font-1 fw-bold">Eldery Nutrition</h5>
                            <p class="text-gray">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut
                                elit tellus, luctus nec.
                            </p>
                            <div class="d-flex justify-content-center">
                                <a type="button" href="#"
                                   class="btn post-button font-2 d-flex flex-row align-items-center gap-2">
                                    Read
                                    More <i class="fa-solid fa-circle-arrow-right mt-1"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card p-3 with-border-bottom border-0 shadow rounded-3">
                        <img src="Template/image/H2.png" class="card-img-top rounded-3" alt="...">
                        <div class="card-body ">
                            <h5 class="font-1 fw-bold">Residential Care</h5>
                            <p class="text-gray">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut
                                elit tellus, luctus nec.
                            </p>
                            <div class="d-flex justify-content-center">
                                <a type="button" href="#"
                                   class="btn post-button font-2 d-flex flex-row align-items-center gap-2">
                                    Read
                                    More <i class="fa-solid fa-circle-arrow-right mt-1"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center my-4">
                <a href="#" type="button" class="btn bg-accent-color p-3 font-2">All Services</a>
            </div>
        </div>
    </div>
</section>

<!-- Why Choose Seniorsy -->
<WhyChooseHumanSuccour/>
<section class="section pt-0">
    <div class="r-container">
        <div class="row row-cols-1 row-cols-lg-4">
            <div class="col">
                <div class="card with-border-bottom border-0 shadow d-flex flex-column justify-content-center  align-items-center p-2">
                    <h3 class="accent-color font-1 fw-bold lh-1">250+</h3>
                    <h5 class="font-1 fw-bold">Completed Cases</h5>
                </div>
            </div>
            <div class="col">
                <div class="card with-border-bottom border-0 shadow d-flex flex-column justify-content-center  align-items-center p-2">
                    <h3 class="accent-color font-1 fw-bold lh-1">50+</h3>
                    <h5 class="font-1 fw-bold">Nursing Staff</h5>
                </div>
            </div>
            <div class="col">
                <div class="card with-border-bottom border-0 shadow d-flex flex-column justify-content-center  align-items-center p-2">
                    <h3 class="accent-color font-1 fw-bold lh-1">20+</h3>
                    <h5 class="font-1 fw-bold">Senior Doctors</h5>
                </div>
            </div>
            <div class="col">
                <div class="card with-border-bottom border-0 shadow d-flex flex-column justify-content-center  align-items-center p-2">
                    <h3 class="accent-color font-1 fw-bold lh-1">200+</h3>
                    <h5 class="font-1 fw-bold">Happy Couples</h5>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- We Care With Compassion -->
<section class="position-relative">
    <div class="r-container">
        <div class="image-overlay"></div>
        <div class="d-flex flex-column justify-content-center align-items-center text-center position-relative gap-3"
             style="z-index: 2; min-height: 70vh;">
           
          @*    <div>
                <!-- Button trigger modal -->

               <div class="d-flex flex-row gap-3 align-items-center">
                    <button type="button" class="btn request-loader" data-bs-toggle="modal"
                            data-bs-target="#videomodal">
                        <i class="fa-solid fa-play"></i>
                    </button>
                </div>


            </div> *@


            <h5 class="font-1 text-white fw-bold">Our Mission</h5>
            <p class="text-white" style="max-width: 768px;">
                At Human Succour, we firmly believe that every individual can achieve remarkable feats regardless of difficulties if provided with the proper care and environment. Our mission is to meet and surpass the increasing expectations in the service industry by providing unparalleled care and support to all we serve.
            </p>
        </div>
    </div>
    <!-- Modal -->


@*     <div class="modal fade bg-overlay" id="videomodal" tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content bg-dark-color">
                <iframe class="ifr-video" src="https://www.youtube.com/embed/FK2RaJ1EfA8?autoplay=1"
                        frameborder="0"></iframe>
            </div>
        </div>
    </div> *@


</section>

<!-- What They Say ? -->
@* <section class="section pt-0 position-relative" style="margin-top: -100px;">
    <div class="r-container">
        <div class="overflow-hidden rounded-4">
            <div class="row row-cols-1 row-cols-lg-2">
                <div class="col bg-accent-color text-white ">
                    <div class="d-flex flex-column gap-3 p-5 h-100 justify-content-center">
                        <h6 class="font-2 ">What They Say ?</h6>
                        <h3 class="font-1 lh-1 fw-bold fs-1">Love To Serve You, With Compassionate Care</h3>
                        <p class="fs-6">
                            Sed congue mollis orci et tempus. Etiam semper elit id turpis ornare posuere a sit
                            amet elit. Nulla facilisi. Nullam augue lectus, lobortis et risus id, ornare
                            porttitor arcu.
                        </p>
                        <div>
                            <a href="contact.html" type="button" class="btn bg-accent-color-1 p-3">Contact Us</a>
                        </div>
                    </div>
                </div>
                <div class="col bg-light text-white">
                    <div class="overflow-hidden h-100 d-flex align-items-center">
                        <div class="swiper">
                            <!-- Additional required wrapper -->
                            <div class="swiper-wrapper">
                                <!-- Slides -->
                                <div class="swiper-slide">
                                    <div class="d-flex flex-column gap-3 p-4 text-black">
                                        <ul class="d-flex flex-row gap-2 p-0 m-0 text-warning"
                                            style="list-style: none;">
                                            <li><i class="fa-solid fa-star"></i></li>
                                            <li><i class="fa-solid fa-star"></i></li>
                                            <li><i class="fa-solid fa-star"></i></li>
                                            <li><i class="fa-solid fa-star"></i></li>
                                            <li><i class="fa-solid fa-star"></i></li>
                                        </ul>
                                        <p>
                                            Nulla mollis tristique blandit. Nam at accumsan felis, vitae pharetra
                                            nunc. Morbi imperdiet dui eu facilisis vestibulum. Sed dignissim non
                                            nibh auctor finibus. Integer mollis varius maximus.
                                        </p>
                                        <div class="d-flex justify-content-between">
                                            <div class="d-flex flex-row gap-3">
                                                <img src="Template/image/dummy-img-400x400.jpg" alt=""
                                                     class="img-fluid rounded-circle" width="70" height="70">
                                                <div class="d-flex flex-column h-100 justify-content-center">
                                                    <span class="text-black">Elsa Verina</span>
                                                    <span class="text-gray">Designation</span>
                                                </div>
                                            </div>
                                            <div class="accent-color" style="font-size: 3rem;">
                                                <i class="fa-solid fa-quote-right"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="d-flex flex-column gap-3 p-4 text-black">
                                        <ul class="d-flex flex-row gap-2 p-0 m-0 text-warning"
                                            style="list-style: none;">
                                            <li><i class="fa-solid fa-star"></i></li>
                                            <li><i class="fa-solid fa-star"></i></li>
                                            <li><i class="fa-solid fa-star"></i></li>
                                            <li><i class="fa-solid fa-star"></i></li>
                                            <li><i class="fa-solid fa-star"></i></li>
                                        </ul>
                                        <p>
                                            Nulla mollis tristique blandit. Nam at accumsan felis, vitae pharetra
                                            nunc. Morbi imperdiet dui eu facilisis vestibulum. Sed dignissim non
                                            nibh auctor finibus. Integer mollis varius maximus.
                                        </p>
                                        <div class="d-flex justify-content-between">
                                            <div class="d-flex flex-row gap-3">
                                                <img src="Template/image/dummy-img-400x400.jpg" alt=""
                                                     class="img-fluid rounded-circle" width="70" height="70">
                                                <div class="d-flex flex-column h-100 justify-content-center">
                                                    <span class="text-black">Dyas Kardinal</span>
                                                    <span class="text-gray">Designation</span>
                                                </div>
                                            </div>
                                            <div class="accent-color" style="font-size: 3rem;">
                                                <i class="fa-solid fa-quote-right"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="d-flex flex-column gap-3 p-4 text-black">
                                        <ul class="d-flex flex-row gap-2 p-0 m-0 text-warning"
                                            style="list-style: none;">
                                            <li><i class="fa-solid fa-star"></i></li>
                                            <li><i class="fa-solid fa-star"></i></li>
                                            <li><i class="fa-solid fa-star"></i></li>
                                            <li><i class="fa-solid fa-star"></i></li>
                                            <li><i class="fa-solid fa-star"></i></li>
                                        </ul>
                                        <p>
                                            Nulla mollis tristique blandit. Nam at accumsan felis, vitae pharetra
                                            nunc. Morbi imperdiet dui eu facilisis vestibulum. Sed dignissim non
                                            nibh auctor finibus. Integer mollis varius maximus.
                                        </p>
                                        <div class="d-flex justify-content-between">
                                            <div class="d-flex flex-row gap-3">
                                                <img src="Template/image/dummy-img-400x400.jpg" alt=""
                                                     class="img-fluid rounded-circle" width="70" height="70">
                                                <div class="d-flex flex-column h-100 justify-content-center">
                                                    <span class="text-black">Putri Maha</span>
                                                    <span class="text-gray">Designation</span>
                                                </div>
                                            </div>
                                            <div class="accent-color" style="font-size: 3rem;">
                                                <i class="fa-solid fa-quote-right"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- If we need pagination -->
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> *@

<!-- How It Work ? -->
<Howitworks/>
<!-- News & Article -->
@* <section class="section">
    <div class="r-container">
        <div class="d-flex flex-column gap-3">
            <div class="d-flex flex-lg-row flex-column text-lg-start text-center gap-lg-4 gap-2">
                <div class="col col-lg-3">
                    <h6 class="font-2 accent-color">News & Article</h6>
                    <h3 class="font-1 lh-1 fw-bold fs-1 mb-3">Our Latest News</h3>
                </div>
                <div class="col col-lg-7">
                    <p class="text-gray">
                        Fusce non egestas felis, in rhoncus est. Morbi non congue orci. Sed
                        venenatis varius
                        convallis. Aenean vitae hendrerit est, eu molestie orci. Vivamus consectetur molestie
                        lacus, at mattis augue porta et.
                    </p>
                </div>
                <div class="col col-lg-2">
                    <a href="#" type="button" class="btn bg-accent-color p-3">View More</a>
                </div>
            </div>
            <div class="row row-cols-1 row-cols-lg-3">
                <div class="col mb-3">
                    <div class="card border border-light-subtle">
                        <img src="Template/image/dummy-img-600x400.jpg" class="card-img-top" alt="...">
                        <div class="card-body px-3 py-4">
                            <h6 class="font-1 lh-1 fw-bold">
                                Cherishing Life, Bringing Independence A Little
                                Closer To Home
                            </h6>
                            <p class="text-gray">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Integer tincidunt maximus malesuada. Quisque ut ipsum…
                            </p>
                            <a type="button" href="#" class="btn bg-accent-color py-3 px-4 text-white">
                                Learn
                                More
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col mb-3">
                    <div class="card border border-light-subtle">
                        <img src="Template/image/dummy-img-600x400.jpg" class="card-img-top" alt="...">
                        <div class="card-body px-3 py-4">
                            <h6 class="font-1 lh-1 fw-bold">
                                Connected Living Strives To Curb Loneliness Amongst
                                Seniors
                            </h6>
                            <p class="text-gray">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Integer tincidunt maximus malesuada. Quisque ut ipsum…
                            </p>
                            <a type="button" href="#" class="btn bg-accent-color py-3 px-4 text-white">
                                Learn
                                More
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col mb-3">
                    <div class="card border border-light-subtle">
                        <img src="Template/image/dummy-img-600x400.jpg" class="card-img-top" alt="...">
                        <div class="card-body px-3 py-4">
                            <h6 class="font-1 lh-1 fw-bold">
                                Metabolism Changes With Age, Just Not When You Might
                                Think
                            </h6>
                            <p class="text-gray">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Integer tincidunt maximus malesuada. Quisque ut ipsum…
                            </p>
                            <a type="button" href="#" class="btn bg-accent-color py-3 px-4 text-white">
                                Learn
                                More
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
 *@
