<footer>
    <section class="py-5 position-relative" style="background-image: url(Template/image/dummy-img-1920x900.jpg);">
        <div class="r-container">
            <div class="image-overlay-2"></div>
            <div class="position-relative" style="z-index: 2;">
@*                 <div class="row row-cols-1 row-cols-lg-2 text-lg-start text-center px-lg-0 px-3">
                    <div class="col">
                        <h4 class="text-white font-1 fw-bold fs-1">
                            Give Your Loved Ones Quality Care You Can Trust
                        </h4>
                    </div>
                    <div class="col">
                        <div class="d-flex justify-content-lg-end justify-content-center h-100 align-items-center">
                            <a href="contact.html" type="button" class="btn btn-dark px-4 py-3 fs-5">Contact Us Now</a>
                        </div>
                    </div>
                </div>
 *@            </div>
        </div>
    </section>
    <section class="px-lg-0 px-4 py-lg-5 py-4 bg-accent-color-1">
        <div class="r-container text-white">
            <div class="row row-cols-1 row-cols-lg-4">
                <div class="col col-lg-4 mb-3">
                    <div class="d-flex flex-column h-100 justify-content-center">
                        <div class="logo-container">
                            <img src="Template/image/logo-2.png" alt="Logo" class="img-fluid">
                        </div>
                      @*   <p>
                            Suspendisse congue tincidunt nisi, in eleifend metus placerat eu. Nunc eget tristique
                            nisi. Nunc a eros vitae magna bibendum tempus. Mauris ipsum enim, sollicitudin sit amet
                            consequat at.
                        </p> *@
                    </div>
                </div>
                <div class="col col-lg-2 mb-3">
                    <div class="d-flex flex-column">
                        <h5 class="font-1 fw-bold mb-3">Quick Link</h5>
                        <div class="d-flex flex-column gap-2">
                            <a href="" class="d-flex flex-row gap-2 align-items-center link-light">
                                <i class="fa-solid fa-chevron-right accent-color"></i> About Us
                            </a>
                            <a href="" class="d-flex flex-row gap-2 align-items-center link-light">
                                <i class="fa-solid fa-chevron-right accent-color"></i> Services
                            </a>
                            <a href="" class="d-flex flex-row gap-2 align-items-center link-light">
                                <i class="fa-solid fa-chevron-right accent-color"></i> Delivery
                            </a>
                            <a href="" class="d-flex flex-row gap-2 align-items-center link-light">
                                <i class="fa-solid fa-chevron-right accent-color"></i> FAQ
                            </a>
                            <a href="" class="d-flex flex-row gap-2 align-items-center link-light">
                                <i class="fa-solid fa-chevron-right accent-color"></i> Contact
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col col-lg-2 mb-3">
                    <div class="d-flex flex-column">
                        <h5 class="font-1 fw-bold mb-3">Information</h5>
                        <div class="d-flex flex-column gap-2">
                            <a href="" class="d-flex flex-row gap-2 align-items-center link-light">
                                <i class="fa-solid fa-chevron-right accent-color"></i> About Us
                            </a>
                            <a href="" class="d-flex flex-row gap-2 align-items-center link-light">
                                <i class="fa-solid fa-chevron-right accent-color"></i> Services
                            </a>
                            <a href="" class="d-flex flex-row gap-2 align-items-center link-light">
                                <i class="fa-solid fa-chevron-right accent-color"></i> Delivery
                            </a>
                            <a href="" class="d-flex flex-row gap-2 align-items-center link-light">
                                <i class="fa-solid fa-chevron-right accent-color"></i> FAQ
                            </a>
                            <a href="" class="d-flex flex-row gap-2 align-items-center link-light">
                                <i class="fa-solid fa-chevron-right accent-color"></i> Contact
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col col-lg-4 mb-3">
                    <div class="d-flex flex-column mb-3">
                        <h5 class="font-1 fw-bold mb-2">Get In Touch</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                        <div class="d-flex flex-wrap">
                            <div class="d-flex flex-row me-2 gap-2 align-items-center">
                                <i class="fa-solid fa-location-dot"></i>
                                99 Roving St., Pku
                            </div>
                            <div class="d-flex flex-row me-2 gap-2 align-items-center">
                                <i class="fa-solid fa-phone"></i>
                                +123-456-789
                            </div>
                            <div class="d-flex flex-row me-2 gap-2 align-items-center">
                                <i class="fa-solid fa-envelope"></i>
                                hello@awesomesite.com
                            </div>
                        </div>
                    </div>
                    <div class="d-flex flex-column mb-3">
                        <h5 class="font-1 fw-bold mb-2">Social Media :</h5>
                        <div class="social-container">
                            <a href="https://www.facebook.com" class="social-item">
                                <i class="fa-brands fa-facebook"></i>
                            </a>
                            <a href="https://www.twitter.com" class="social-item">
                                <i class="fa-brands fa-twitter"></i>
                            </a>
                            <a href="https://www.youtube.com" class="social-item">
                                <i class="fa-brands fa-youtube"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-100" style="border-bottom: 1px solid var(--accent-color-2);"></div>
            <div class="text-center p-2">© Copyright @DateTime.Now.Year. Human Succour Healthcare Services Ltd. | All Rights Reserved</div>
        </div>
    </section>
</footer>
