

<div class="container">
    <div class="carousel">
        <div class="carousel__face"><span> Quality care, Quality life</span></div>
        <div class="carousel__face"><span>Independent Living with Dignity</span></div>
        <div class="carousel__face"><span>and Respect</span></div>
        <div class="carousel__face"><span>For you</span></div>
        <div class="carousel__face"><span>Just give it</span></div>
        <div class="carousel__face"><span>A try</span></div>
        <div class="carousel__face"><span>And see</span></div>
        <div class="carousel__face"><span>How IT Works</span></div>
        <div class="carousel__face"><span>Woow</span></div>
    </div>
</div>