@page "/single-service"

<section class="section position-relative" style="background-image: url(image/dummy-img-1920x900.jpg);">
    <div class="r-container">
        <div class="image-overlay"></div>
        <div class="position-relative" style="z-index: 2;">
            <h1 class="font-1 fw-bold text-white">Single Services</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item fw-bold"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item fw-bold active" aria-current="page">Single Services</li>
                </ol>
            </nav>
        </div>
    </div>
</section>

<section class="section">
    <div class="r-container">
        <div class="d-flex flex-lg-row flex-column-reverse gap-3">
            <div class="col col-lg-3">
                <div class="d-flex flex-column gap-3">
                    <div class="bg-light p-4 rounded-3">
                        <h5 class="font-1 fw-bold mb-3">All Services</h5>
                        <div class="list-group rounded-0" style="gap: 0.65rem;">
                            <a href="#" class="list-group-item list-group-item-action shadow active"
                               aria-current="true">
                                <i class="fa-solid fa-chevron-right me-2"></i> Assisted Living
                            </a>
                            <a href="#" class="list-group-item list-group-item-action shadow"
                               aria-current="true">
                                <i class="fa-solid fa-chevron-right me-2"></i> Eldery Nutrition
                            </a>
                            <a href="#" class="list-group-item list-group-item-action shadow"
                               aria-current="true">
                                <i class="fa-solid fa-chevron-right me-2"></i> Residential Care
                            </a>
                            <a href="#" class="list-group-item list-group-item-action shadow"
                               aria-current="true">
                                <i class="fa-solid fa-chevron-right me-2"></i> Senior Citizen
                            </a>
                            <a href="#" class="list-group-item list-group-item-action shadow"
                               aria-current="true">
                                <i class="fa-solid fa-chevron-right me-2"></i> Health Facilities
                            </a>
                            <a href="#" class="list-group-item list-group-item-action shadow"
                               aria-current="true">
                                <i class="fa-solid fa-chevron-right me-2"></i> Health Consultation
                            </a>
                        </div>
                    </div>
                    <div class="position-relative rounded-3 overflow-hidden p-4"
                         style="background-image: url(image/dummy-img-600x700.jpg); background-size: cover; background-position: center;">
                        <div class="image-overlay-2"></div>
                        <div class="position-relative w-100 d-flex flex-column justify-content-center align-items-center text-white p-4 text-center"
                             style="z-index: 2;">
                            <h4 class="font-1 fw-bold lh-1">Need Any Help ?</h4>
                            <span class="font-1 fw-bold fs-4">+123-456-789</span>
                            <a href="contact.html" type="button" class="btn btn-dark px-4 py-3 fs-5">Contact Us</a>
                        </div>
                    </div>
                    <div class="bg-light p-4 rounded-3">
                        <h5 class="font-1 fw-bold ">Downloads</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ut elit tellus.</p>
                        <div class="list-group rounded-0" style="gap: 0.65rem;">
                            <a href="#"
                               class="list-group-item list-group-item-action bg-accent-color text-white shadow"
                               aria-current="true">
                                <i class="fa-solid fa-file-pdf me-2"></i> Brochure
                            </a>
                            <a href="#"
                               class="list-group-item list-group-item-action bg-accent-color text-white shadow"
                               aria-current="true">
                                <i class="fa-solid fa-file-pdf me-2"></i> Company Detail
                            </a>
                            <a href="#"
                               class="list-group-item list-group-item-action bg-accent-color text-white shadow"
                               aria-current="true">
                                <i class="fa-solid fa-file-pdf me-2"></i> Costumer Policies
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-lg-9">
                <div class="d-flex flex-column gap-3">
                    <img src="image/dummy-img-1920x900.jpg" alt="" class="img-fluid">
                    <div class="d-flex flex-column mb-3">
                        <h3 class="font-1 fw-bold">Service Description</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In feugiat in mi sit amet
                            faucibus. Quisque commodo, est ut blandit pharetra, sem augue sagittis metus, vel
                            dictum
                            lectus augue nec lorem. Aenean hendrerit tincidunt turpis, ac mollis mi mollis in.
                            Donec
                            posuere non velit at egestas. Sed a tortor semper, semper enim sit amet, interdum
                            massa.
                            Suspendisse quis libero eu dolor ornare lobortis. Donec id blandit purus.
                        </p>
                        <div class="row row-cols-1 row-cols-lg-3">
                            <div class="col">
                                <div class="card with-border-bottom border-0 shadow d-flex flex-column justify-content-center  align-items-center p-2">
                                    <h3 class="accent-color font-1 fw-bold lh-1">50+</h3>
                                    <h5 class="font-1 fw-bold">Nursing Staff</h5>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card with-border-bottom border-0 shadow d-flex flex-column justify-content-center  align-items-center p-2">
                                    <h3 class="accent-color font-1 fw-bold lh-1">250+</h3>
                                    <h5 class="font-1 fw-bold">Completed Cases</h5>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card with-border-bottom border-0 shadow d-flex flex-column justify-content-center  align-items-center p-2">
                                    <h3 class="accent-color font-1 fw-bold lh-1">20+</h3>
                                    <h5 class="font-1 fw-bold">Senior Doctors</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex flex-column mb-3">
                        <h3 class="font-1 fw-bold">Service We Provide</h3>
                        <p>
                            Mauris egestas est vel lectus sagittis gravida. Maecenas nec mi id nunc pulvinar
                            tincidunt ac nec ante. Aenean venenatis cursus ex. Donec auctor euismod sem, vel
                            ultricies augue. Quisque sollicitudin enim sed enim fringilla rhoncus. Etiam sit
                            amet
                            imperdiet tortor, id iaculis felis. Donec mollis magna eu fringilla consequat.
                        </p>
                    </div>
                    <div class="d-flex flex-lg-row flex-column mb-3">
                        <div class="col">
                            <div class="position-relative">
                                <img src="image/dummy-img-600x400.jpg" alt="" class="img-fluid">
                                <div class="position-absolute top-0 start-0 w-100 h-100 d-flex justify-content-center align-items-center">
                                    <button type="button" class="btn request-loader" data-bs-toggle="modal"
                                            data-bs-target="#videomodal">
                                        <i class="fa-solid fa-play"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="d-flex flex-column ps-3">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus,
                                    luctus nec ullamcorper mattis, pulvinar dapibus.
                                </p>
                                <div class="d-flex flex-column gap-1">
                                    <div class="d-flex flex-row gap-2 align-items-center">
                                        <i class="fa-solid fa-square-check accent-color"></i>
                                        Suspendisse porta porttitor rhoncus
                                    </div>
                                    <div class="d-flex flex-row gap-2 align-items-center">
                                        <i class="fa-solid fa-square-check accent-color"></i>
                                        Etiam dictum condimentum metus
                                    </div>
                                    <div class="d-flex flex-row gap-2 align-items-center">
                                        <i class="fa-solid fa-square-check accent-color"></i>
                                        Proin blandit sodales diam facilisis
                                    </div>
                                    <div class="d-flex flex-row gap-2 align-items-center">
                                        <i class="fa-solid fa-square-check accent-color"></i>
                                        Class aptent taciti sociosqu ad
                                    </div>
                                    <div class="d-flex flex-row gap-2 align-items-center">
                                        <i class="fa-solid fa-square-check accent-color"></i>
                                        Nulla Ut Nibh Ut Mi Accumsan
                                    </div>
                                    <div class="d-flex flex-row gap-2 align-items-center">
                                        <i class="fa-solid fa-square-check accent-color"></i>
                                        Suspendisse Sodales Nibh
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex flex-column">
                        <h3 class="font-1 fw-bold">Frequently Asked Questions</h3>
                        <div class="accordion d-flex flex-column gap-2" id="accordionExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button fw-bold" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseOne" aria-expanded="false"
                                            aria-controls="collapseOne">
                                        How To Change My Photo From Admin Dashboard ?
                                    </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse show"
                                     data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        Far far away, behind the word mountains, far from the countries Vokalia
                                        and Consonantia, there live the blind texts. Separated they live in
                                        Bookmarksgrove right at the coast
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button fw-bold collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                                            aria-expanded="false" aria-controls="collapseTwo">
                                        How To Change My Password Easily ?
                                    </button>
                                </h2>
                                <div id="collapseTwo" class="accordion-collapse collapse"
                                     data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button fw-bold collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapseThree"
                                            aria-expanded="false" aria-controls="collapseThree">
                                        How To Change My Subscription Plan Using PayPal
                                    </button>
                                </h2>
                                <div id="collapseThree" class="accordion-collapse collapse"
                                     data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade bg-overlay" id="videomodal" tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content bg-dark-color">
                <iframe class="ifr-video" src="https://www.youtube.com/embed/FK2RaJ1EfA8?autoplay=1"
                        frameborder="0"></iframe>
            </div>
        </div>
    </div>
</section>
