<section class="section">
    <div class="r-container">
        <div class="d-flex flex-lg-row flex-column-reverse">
            <div class="col mb-3">
                <div class="d-flex flex-column gap-3 p-3 h-100 justify-content-center">
                    <h3 class="text-black font-1 lh-1 fw-bold">
                        Why Choose Human Succour
                    </h3>
                    <div class="d-flex flex-lg-row flex-column">
                        <div class="col text-white gap-3 col-lg-4 rounded-2 bg-accent-color p-3 text-center d-flex flex-column justify-content-center align-items-center">
                            <div class="rounded-circle p-1 bg-white accent-color"
                                 style="width: 4rem; height: 4rem; font-size: 2.3rem;">
                                <i class="fa-solid fa-phone"></i>
                            </div>
                            <h5 class="font-1 lh-1 fw-bold">Clarify Your Queries & number</h5>
                            <h5 class="font-1 lh-1 fw-bold">+447309780284</h5>
                        </div>
                        <div class="col col-lg-8">
                            <div class="d-flex flex-column ps-3">
                                <p>
                                    We value the uniqueness of our service users, staff, and visitors, treating everyone with dignity and respect.
                                </p>
                                <div class="d-flex flex-column gap-2">
                                    <div class="d-flex flex-row gap-2 align-items-center">
                                        <i class="fa-solid fa-square-check accent-color"></i>
                                        All our carers receive professional and specialised training before being matched to your needs.
                                    </div>
                                    <div class="d-flex flex-row gap-2 align-items-center">
                                        <i class="fa-solid fa-square-check accent-color"></i>
                                        We believe in the right of all service users to make their own choices and decisions.
                                    </div>
                                    <div class="d-flex flex-row gap-2 align-items-center">
                                        <i class="fa-solid fa-square-check accent-color"></i>
                                        We are committed to maintaining the privacy of our users and take all necessary measures to protect their personal information.
                                    </div>
                                    @*  <div class="d-flex flex-row gap-2 align-items-center">
                                    <i class="fa-solid fa-square-check accent-color"></i>
                                    Assistance with dressing, bathing, or toileting. Always respectful and professional.
                                    </div> *@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mb-5 pe-lg-3 position-relative">
                <div class="overlay left"></div>
                <div class="position-relative ps-5">

                 @*    <img src="Template/image/dummy-img-600x700.jpg" alt="" class="img-fluid rounded-3"
                         style="z-index: -2;"> *@

                    <img src="Template/image/H4.jpg" alt="" class="img-fluid rounded-3"
                         style="z-index: -2;">

                    <div class="position-absolute bottom-0 end-0 d-flex justify-content-end">
                        <div class=" bg-accent-color rounded-3 p-4 w-75" style="margin-bottom: -3rem;">
                            <h6 class="font-1 text-white fw-bold">
                                The Patient Is First Priority In Our Passion
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>