@using Microsoft.AspNetCore.Components.Web
@namespace HumanSuccourApp.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
@*     <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="HumanSuccourApp.styles.css" rel="stylesheet" /> *@

    <link href="~/template/css/vendor/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/template/css/vendor/fontawesome.css">
    <link rel="stylesheet" href="~/template/css/vendor/brands.css">
    <link rel="stylesheet" href="~/template/css/vendor/regular.css">
    <link rel="stylesheet" href="~/template/css/vendor/solid.css">
    <link rel="stylesheet" href="~/template/css/vendor/swiper-bundle.min.css">
    <link rel="stylesheet" href="~/template/css/style.css">



    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>
<body>
    @RenderBody()

@*     <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div> *@

    <script src="~/template/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="~/template/js/vendor/jquery.min.js"></script>
    <script src="~/template/js/vendor/swiper-bundle.min.js"></script>

    <script src="~/template/js/swiper-script.js"></script>
    <script src="~/template/js/submit-form.js"></script>
    <script src="~/template/js/vendor/isotope.pkgd.min.js"></script>


    <script src="~/template/js/vendor/fslightbox.js"></script>
    <script src="~/template/js/masonry.js"></script>

    <script src="_framework/blazor.server.js"></script>
</body>
</html>
