

<div style="padding-right:-250px">


        <div class="mySlides fade">
        <div class="numbertext">Independent Living with Dignity</div>
            <img src="Template/image/slide1.jpg" style="width:200%;">
       
        </div>

        <div class="mySlides fade">
        <div class="numbertext">Quality care, Quality life</div>
        <img src="Template/image/slide2.jpeg" style="width:200%;">
     
        </div>

        <div class="mySlides fade">
        <div class="numbertext">Holiday Care</div>
        <img src="Template/image/slide3.jpg" style="width:200%;">
       
        </div>

</div>
<br>

<div style="text-align:center">
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
</div>