



<section class="section pt-0 position-relative" style="margin-top: -100px;">
    <div class="r-container">
        <div class="overflow-hidden rounded-4">
            <div class="row row-cols-1 row-cols-lg-2">
                <div class="col bg-accent-color text-white ">
                    <div class="d-flex flex-column gap-3 p-5 h-100 justify-content-center">
                        <h6 class="font-2 text-white">Fill The Form</h6>
                        <h3 class="font-1 lh-1 fw-bold fs-1 mb-3 text-white">Get In Touch</h3>
                        <div class="success_msg toast align-items-center w-100 shadow-none mb-3 border border-success rounded-0 my-4"
                             role="alert" aria-live="assertive" aria-atomic="true">
                            <div class="d-flex p-2">
                                <div class="toast-body f-18 d-flex flex-row gap-3 align-items-center text-success">
                                    <i class="fa-solid fa-check f-36 text-success"></i>
                                    Your Message Successfully Send.
                                </div>
                                <button type="button"
                                        class="me-2 m-auto bg-transparent border-0 ps-1 pe-0 text-success"
                                        data-bs-dismiss="toast" aria-label="Close">
                                    <i class="fa-solid fa-xmark"></i>
                                </button>
                            </div>
                        </div>
                        <div class="error_msg toast align-items-center w-100 shadow-none border-danger mb-3 my-4 border rounded-0"
                             role="alert" aria-live="assertive" aria-atomic="true">
                            <div class="d-flex p-2">
                                <div class="toast-body f-18 d-flex flex-row gap-3 align-items-center text-danger">
                                    <i class="fa-solid fa-triangle-exclamation f-36 text-danger"></i>
                                    Something Wrong ! Send Form Failed.
                                </div>
                                <button type="button"
                                        class="me-2 m-auto bg-transparent border-0 ps-1 pe-0 text-danger"
                                        data-bs-dismiss="toast" aria-label="Close">
                                    <i class="fa-solid fa-xmark"></i>
                                </button>
                            </div>
                        </div>
                        <form action=""
                              class="d-flex flex-column h-100 justify-content-center w-100 needs-validation mb-3 form"
                              novalidate>
                            <div class="mb-3">
                                <input type="text" class="form-control py-2 px-4" name="name" id="name"
                                       placeholder="Name" required>
                                <div class="invalid-feedback">
                                    The field is required.
                                </div>
                            </div>
                            <div class="mb-3">
                                <input type="email" class="form-control py-2 px-4" name="email" id="email"
                                       placeholder="Email" required>
                                <div class="invalid-feedback">
                                    The field is required.
                                </div>
                            </div>

                            <div class="mb-3">
                                <select id="cars" class="form-control py-2 px-4">
                                    <option value="Choose an Option">Choose an Option</option>
                                    <option value="Supported Living">Supported Living</option>
                                    <option value="Live In Care">Live In Care</option>
                                    <option value="Respite Care">Respite Care</option>
                                    <option value="Home Care Services">Home Care Services</option>
                                    <option value="Night Care">Night Care</option>
                                    <option value="Holiday Care">Holiday Care</option>
                                </select>                             
                            </div>
                            
                            <div class="mb-3">
                                <input type="text" class="form-control py-2 px-4" name="subject" id="subject"
                                       placeholder="Subject" required>
                                <div class="invalid-feedback">
                                    The field is required.
                                </div>
                            </div>
                            <div class="mb-3">
                                <textarea class="form-control py-2 px-4" id="message" name="message" rows="5"
                                          placeholder="Message"></textarea>
                            </div>
                            <div class="mb-3">
                                <button type="button" class="btn submit_form py-3">
                                    Send Message
                                </button>
                            </div>
                        </form>                      
                       
                    </div>
                </div>
                <div class="col bg-accent-color text-white ">
                    <div class="overflow-hidden h-100 d-flex align-items-center">
                        <div class="swiper">
                            <!-- Additional required wrapper -->
                            <div class="swiper-wrapper">
                                <!-- Slides -->
                                <div class="swiper-slide">
                                    <div class="d-flex flex-column gap-3 p-4 text-black">
                                        <ul class="d-flex flex-row gap-2 p-0 m-0 text-warning"
                                            style="list-style: none;">
                                           @*  <li><i class="fa-solid fa-star"></i></li>
                                            <li><i class="fa-solid fa-star"></i></li>
                                            <li><i class="fa-solid fa-star"></i></li>
                                            <li><i class="fa-solid fa-star"></i></li>
                                            <li><i class="fa-solid fa-star"></i></li> *@
                                        </ul>
                                        <p>
                                        </p>
                                      @*   <div class="d-flex justify-content-between">
                                            <div class="d-flex flex-row gap-3">
                                                <img src="Template/image/dummy-img-400x400.jpg" alt=""
                                                     class="img-fluid rounded-circle" width="70" height="70">
                                                <div class="d-flex flex-column h-100 justify-content-center">
                                                    <span class="text-black">Elsa Verina</span>
                                                    <span class="text-gray">Designation</span>
                                                </div>
                                            </div>
                                            <div class="accent-color" style="font-size: 3rem;">
                                                <i class="fa-solid fa-quote-right"></i>
                                            </div>
                                        </div> *@
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="d-flex flex-column gap-3 p-4 text-black">
                                        <ul class="d-flex flex-row gap-2 p-0 m-0 text-warning"
                                            style="list-style: none;">
                                            <li><i class="fa-solid fa-star"></i></li>
                                            <li><i class="fa-solid fa-star"></i></li>
                                            <li><i class="fa-solid fa-star"></i></li>
                                            <li><i class="fa-solid fa-star"></i></li>
                                            <li><i class="fa-solid fa-star"></i></li>
                                        </ul>
                                        <p>
                                            Assistance with dressing, bathing, or toileting. Always respectful and professional.
                                        </p>
                                        <div class="d-flex justify-content-between">
                                            <div class="d-flex flex-row gap-3">
                                                <img src="Template/image/dummy-img-400x400.jpg" alt=""
                                                     class="img-fluid rounded-circle" width="70" height="70">
                                                <div class="d-flex flex-column h-100 justify-content-center">
                                                    <span class="text-black">Dyas Kardinal</span>
                                                    <span class="text-gray">Designation</span>
                                                </div>
                                            </div>
                                            <div class="accent-color" style="font-size: 3rem;">
                                                <i class="fa-solid fa-quote-right"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="d-flex flex-column gap-3 p-4 text-black">
                                        <ul class="d-flex flex-row gap-2 p-0 m-0 text-warning"
                                            style="list-style: none;">
                                            <li><i class="fa-solid fa-star"></i></li>
                                            <li><i class="fa-solid fa-star"></i></li>
                                            <li><i class="fa-solid fa-star"></i></li>
                                            <li><i class="fa-solid fa-star"></i></li>
                                            <li><i class="fa-solid fa-star"></i></li>
                                        </ul>
                                        <p>
                                            Assistance with dressing, bathing, or toileting. Always respectful and professional.
                                        </p>
                                        <div class="d-flex justify-content-between">
                                            <div class="d-flex flex-row gap-3">
                                                <img src="Template/image/dummy-img-400x400.jpg" alt=""
                                                     class="img-fluid rounded-circle" width="70" height="70">
                                                <div class="d-flex flex-column h-100 justify-content-center">
                                                    <span class="text-black">Putri Maha</span>
                                                    <span class="text-gray">Designation</span>
                                                </div>
                                            </div>
                                            <div class="accent-color" style="font-size: 3rem;">
                                                <i class="fa-solid fa-quote-right"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- If we need pagination -->
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
