
<div id="scontainer">
  <ul id="slides">
    <li class="slide">
            <div class="slide-partial slide-left"><img src="Template/image/slide1.jpg" /></div>
            <div class="slide-partial slide-right"><img src="Template/image/slide2.jpeg" /></div>
            <h1 class="title"><span class="title-text">Independent Living with Dignity</span></h1>
    </li>
    <li class="slide">
            <div class="slide-partial slide-left"><img src="Template/image/slide3.jpg" /></div>
            <div class="slide-partial slide-right"><img src="Template/image/slide1.jpg" /></div>
            <h1 class="title"><span class="title-text">Quality care, Quality life</span></h1>
    </li>
    <li class="slide">
            <div class="slide-partial slide-left"><img src="Template/image/slide2.jpeg" /></div>
            <div class="slide-partial slide-right"><img src="Template/image/slide3.jpg" /></div>
            <h1 class="title"><span class="title-text">Holiday Care</span></h1>
    </li>
    <li class="slide">
            <div class="slide-partial slide-left"><img src="Template/image/slide1.jpg" /></div>
            <div class="slide-partial slide-right"><img src="Template/image/slide3.jpg" /></div>
            <h1 class="title"><span class="title-text">Night Care</span></h1>
    </li>
    <li class="slide">
            <div class="slide-partial slide-left"><img src="Template/image/slide3.jpg" /></div>
            <div class="slide-partial slide-right"><img src="Template/image/slide2.jpeg" /></div>
            <h1 class="title"><span class="title-text">Respite Care</span></h1>
    </li>
  </ul>
  <ul id="slide-select">
    <li class="btn prev"></li>
    <li class="selector"></li>
    <li class="selector"></li>
    <li class="selector"></li>
    <li class="selector"></li>
    <li class="selector"></li>
    <li class="btn next"></li>
  </ul>
</div><a class="codepen-link" href="#" target="_blank"></a>