@page "/supported-living"


<section class="section position-relative" style="background-image: url(Template/image/slide1.jpg);">
    <div class="r-container">
        <div class="image-overlay"></div>
        <div class="position-relative" style="z-index: 2;">
            <h1 class="font-1 fw-bold text-white">Supported living</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item fw-bold"><a href="/">Home</a></li>
                    <li class="breadcrumb-item fw-bold active" aria-current="page">Services</li>
                </ol>
            </nav>
        </div>
    </div>
</section>

<!-- Types Of Care -->
<section class="section">
    <div class="r-container">
        <div class="d-flex flex-column gap-3">
            <div class="row row-cols-1 row-cols-lg-2 text-lg-start text-center">
                <div class="col col-lg-4">
                    <div class="d-flex flex-column">                      
                        <h3 class="text-black font-1 lh-1 fw-semibold">Services</h3>
                    </div>
                </div>
                <div class="col col-lg-8">
                    <p class="text-gray mx-auto" style="max-width: 768px;">
                        Get flexible support for independent living, promoting self-sufficiency and comfort in familiar surroundings
                    </p>
                  
                </div>
            </div>
        </div>
    </div>
</section>
<br /><br />
<!-- How It Work ? -->
<Howitworks/>
<!-- Why Choose Seniorsy -->
<section class="section">
    <div class="r-container">
        <div class="d-flex flex-lg-row flex-column">
            <div class="col mb-5 pe-lg-3 position-relative">
                <div class="overlay right"></div>
                <div class="position-relative pe-5">
                    <img src="Template/image/dummy-img-600x700.jpg" alt="" class="img-fluid rounded-3"
                         style="z-index: -2;">
                    <div class="position-absolute bottom-0 start-0 d-flex justify-content-start">
                        <div class=" bg-accent-color rounded-3 p-4 w-75" style="margin-bottom: -3rem;">
                            <h6 class="font-1 text-white fw-bold">
                                The Patient Is First Priority In Our Passion
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mb-3">
                <div class="d-flex flex-column gap-3 p-3 h-100 justify-content-center">
                    <h3 class="text-black font-1 lh-1 fw-bold">Why Choose Human Succour</h3>
                    <p>
                        We value the uniqueness of our service users, staff, and visitors, treating everyone with dignity and respect.
                    </p>
                    <div class="d-flex flex-column gap-3">
                        <div class="d-flex flex-row gap-3 align-items-center shadow py-2 px-3 rounded-3">
                            <div class="bg-accent-color rounded-3 p-3 text-white " style="aspect-ratio: 1/1;">
                                <h4 class="lh-1 m-0 p-0 fw-bold font-1">
                                    <i class="fa-solid fa-hand-holding-dollar"></i>
                                </h4>
                            </div>
                            <div class="d-flex flex-column">
                                <h5 class="font-1 fw-bold lh-1 m-0">
                                    Supported Living
                                </h5>
                                <p class="text-gray m-0">
                                    Get flexible support for independent living, promoting self-sufficiency and comfort in familiar surroundings
                                </p>
                            </div>
                        </div>
                        <div class="d-flex flex-row gap-3 align-items-center shadow py-2 px-3 rounded-3">
                            <div class="bg-accent-color rounded-3 p-3 text-white " style="aspect-ratio: 1/1;">
                                <h4 class="lh-1 m-0 p-0 fw-bold font-1">
                                    <i class="fa-solid fa-thumbs-up"></i>
                                </h4>
                            </div>
                            <div class="d-flex flex-column">
                                <h5 class="font-1 fw-bold lh-1 m-0">
                                    Live In Care
                                </h5>
                                <p class="text-gray m-0">
                                    Our live-in care service provides you with a Carer or Support Worker who can help you live independently in your own home.
                                </p>
                            </div>
                        </div>
                        <div class="d-flex flex-row gap-3 align-items-center shadow py-2 px-3 rounded-3">
                            <div class="bg-accent-color rounded-3 p-3 text-white " style="aspect-ratio: 1/1;">
                                <h4 class="lh-1 m-0 p-0 fw-bold font-1">
                                    <i class="fa-solid fa-user-doctor"></i>
                                </h4>
                            </div>
                            <div class="d-flex flex-column">
                                <h5 class="font-1 fw-bold lh-1 m-0">
                                    Respite Care
                                </h5>
                                <p class="text-gray m-0">
                                    We provide high-quality care in the comfort of your home while offering temporary relief for regular caregivers and support for various conditions, including Alzheimer's, cancer, multiple sclerosis, and strokes
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

